<style>


  </style>
  
  
  <div class="toast collapse" id="collapseExample">
    <div class="toast-body">
      <!-- {{errormsgheader}} -->
    </div>
  </div>
  <div class="toast collapse" id="collapseExample1">
    <div class="toast-body">
      <!-- {{successmsgheader}} -->
    </div>
  </div>
  
  <!--Add New Menu-->
  
  <header id="admin-header" class="admin-header fixed-top d-flex align-items-center">
  
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          src="assets/img/adminlogo.jpg"
          class="me-2"
          height="50"
          alt=""
          loading="lazy"
        />
        <small style="font-weight: bold;">YPC Admin</small>
      </a>
    </div>
    
    
 
    
    
    <!-- End Logo -->

    <nav class="admin-header-nav ms-auto">
  
  
      <ul class="d-flex align-items-center">
  
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle ">
            <i class="bi bi-search"></i>
          </a>
        </li>
  
  
  
        <li class="nav-item dropdown">
  
          <a class="nav-link nav-icon" data-bs-toggle="dropdown">
            <i class="ph-bell-simple" style="color: rgb(174, 0, 0);"></i>
           
          </a>

  
        </li>
  
        <!-- End Notification Nav -->
  
  
        <li class="nav-item dropdown pe-3">
  
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <i class="ph-user-circle"></i> -->
            <i class="ph-user-circle" style="color: rgb(174, 0, 0);"></i>

  
  
          </a>
  
  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-admin-header">
           
            </li>
  
     
  
            <li>
              <a class="dropdown-item d-flex align-items-center">
                <i class="bi bi-box-arrow-right"></i>
  
           

                    <a class="dropdown-item l-o" (click)="confirmLogout()">
                      <span style="margin-left: 30px; font-size: 16px;">Sign Out</span>
                    </a>
                    
              </a>
  
            </li>
  
          </ul>
        </li>
        
   
  

      </ul>
  
    </nav>
  </header>
  

  
    
  
  
  
  
  
  
  