
<div class="toast collapse opacity1" id="collapseExample" style="background-color: rgb(255, 255, 255);">
    <div class="toast-body">
       {{errormsg}}
    </div>
  </div>
  
  <div class="toast collapse opacity1"  id="collapseExample1" style="background-color: rgb(255, 255, 255);">
    <div class="toast-body">
       {{successmsg}}
    </div>
  </div>


<style>
    .form-gap {
        padding-top: 170px;
    }
   
</style>

 <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->




  
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4 mx-auto d-block">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="card">
                        <div class="card-body">

                            <div class="text-center">
                                <div class="row justify-content-center">
                                    <div class="col-3 align-items-center">
                                        <h3><i class="fa fa-lock fa-4x "></i></h3>
                                    </div>
                                </div>
                                <h2 class="text-center">Reset Password?</h2>
                                <p>You can reset your password here.</p>
                                <div class="panel-body">
                                    <form id="register-form" role="form" autocomplete="off" class="form" #resetForm="ngForm" (ngSubmit)="onTapSubmit(resetForm)">
        
        
        
        
                                        <div class="form-group mt-2">
                                            <div class="input-group">
                                                <input id="oldPassword" name="oldPassword" placeholder="Old password" class="form-control" [(ngModel)]="model.oldPassword" [type]="oldPasswordType" required>
                                                <span class="input-group-addon" (click)="toggleOldPasswordVisibility()">
                                                    <i class="fa icos" [ngClass]="{'fa-eye': showOldPassword, 'fa-eye-slash': !showOldPassword}"></i>
                                                </span>
                                            </div>
                                        </div>
        
        
                                        <div class="form-group mt-2">
                                            <div class="input-group">
                                                <input id="newPassword" name="newPassword" placeholder="New password" class="form-control" [(ngModel)]="model.newPassword" [type]="passwordType" required>
                                                <span class="input-group-addon" (click)="togglePasswordVisibility()">
                                                    <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group mt-2">
                                            <div class="input-group">
                                                <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" [(ngModel)]="model.confirmPassword" [type]="confirmPasswordType" required>
                                                <span class="input-group-addon" (click)="toggleConfirmPasswordVisibility()">
                                                    <i class="fa" [ngClass]="{'fa-eye': showConfirmPassword, 'fa-eye-slash': !showConfirmPassword}"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div *ngIf="resetForm.submitted && resetForm.controls['confirmPassword']?.hasError('passwordMismatch')" class="text-danger">
                                            Passwords do not match.
                                        </div>
                                        
                                        <div class="form-group">
                                            <input name="recover-submit" class=" mt-2 btn btn-lg btn-primary btn-block" value="Reset Password" type="submit"  [disabled]="resetForm.invalid">
                                        </div>
                                        <input type="hidden" class="hide" name="token" id="token" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
