<style>
  .hik{
     margin-top: 60px;
  }

  .hi{
    background: #A51C05;
    color: white;
  }
  .card {
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
  }

  .card:hover {
    transform: scale(1.1);
    opacity: 0.9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .card-title,
  .h2 {
    transition: color 0.3s, transform 0.3s;
  }

  .card:hover .card-title,
  .card:hover .h2 {
    color: #ff5733; 
    transform: translateY(-5px);
  }

  .icon-shape i {
    transition: transform 0.3s;
  }

  .card:hover .icon-shape i {
    transform: rotate(180deg);
  }

th,td{
  font-family: DM Sans;
  font-size: 50;
}
  
</style>
<div class="toast collapse opacity1" id="collapseExample">
  <div class="toast-body">
     {{errormsg}}
  </div>
</div>

<div class="toast collapse opacity1"  id="collapseExample1">
  <div class="toast-body">
     {{successmsg}}
  </div>
</div>



<app-adminheader></app-adminheader>
<div class="sidebarContainer">
  <app-leftnav></app-leftnav>
</div>


<div class="pageContent " style="margin-top: 50px;">
    <main id="main" class="main">
      <div id="sideBarContent" class="container-fluid pe-5 ps-6">
  
        <section class="section dashboard borrowers">
  
  
       
         
            <div class="container " >
<div class="row hik">



  <div class="col-12 mt-5">



<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
  <div class="container-fluid">
    <div class="header-body">
      
      <!-- Card stats -->

      <div class="pt-5">

        <div class="row mt-5">  
        
          <!-- <div  *ngIf="role == 'Superadmin'">
            <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#mahisiva" style="background:#A51C05;color: white;">Add Admin</button>
            </div>
          </div> -->
          
          
          
          <!-- id="exampleModal-41"     -->

          <div class="col-xl-3 col-lg-6" (click)="toggleUserTableVisibility()">
            <div class="card card-stats mb-4 mb-xl-0" style="margin-top: 50px; margin-bottom: 30px;">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                    <span class="h2 font-weight-bold mb-0">{{ totalUserCount }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="badge  ">
                      <i class="ph ph-user-circle" style="font-size: 24px;color:#A51C05;"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2" ><i class="fas fa-arrow-down" ></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>

       


          <div class="col-xl-3 col-lg-6" (click)="toggleChefTableVisibility()" >
            <div class="card card-stats mb-4 mb-xl-0" style="margin-top: 50px; margin-bottom: 30px;">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Chefs</h5>
                    <span class="h2 font-weight-bold mb-0">{{ totalChefCount }}</span>
                  </div>
                <div class="col-auto">
                    <div class="badge">
                      <i class="ph ph-user-circle" style="font-size: 24px;color:#A51C05;"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>




          <div class="col-xl-3 col-lg-6" style="margin-top: 50px; margin-bottom: 30px;" (click)="toggleSubscribedUsersTableVisibility()">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Subscribed Users</h5>
                    <span class="h2 font-weight-bold mb-0">{{totalCountSubscribed}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="badge">
                      <i class="ph ph-user-plus" style="font-size: 24px;color:#A51C05;"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>



          <div class="col-xl-3 col-lg-6" style="margin-top: 50px; margin-bottom: 30px;" (click)="toggleAdminTableVisibility()">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Admin</h5>
                    <span class="h2 font-weight-bold mb-0">{{ totalAdminCount }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="badge">
                      <i class="ph ph-user-square" style="font-size: 24px;color:#A51C05;"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>


          <div class="col-xl-3 col-lg-6" style="margin-top: 50px; margin-bottom: 30px;" (click)="allVideos()">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Videos</h5>
                    <span class="h2 font-weight-bold mb-0">{{ video_fulldetail }}</span>
                    <!-- <span class="h2 font-weight-bold mb-0">10</span> -->
                    

                  </div>
                  <div class="col-auto">
                    <div class="badge">
                      <i class="ph ph-monitor-play" style="font-size: 24px;color:#A51C05;"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>




          <div class="col-xl-3 col-lg-6" style="margin-top: 50px; margin-bottom: 30px;" (click)="VideosComponent()" >
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New Videos</h5>
                    <span class="h2 font-weight-bold mb-0">{{ all_newChefVideos_1 }}</span>
                    <!-- <span class="h2 font-weight-bold mb-0">{{ all_newChefVideos_1.length > 0 ? all_newChefVideos_1.length : 0 }}</span> -->
                  </div>
                  <div class="col-auto">
                    <div class="badge">
                      <i class="ph ph-video-camera" style="font-size: 24px;color:#A51C05;" ></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>



          <div class="col-xl-3 col-lg-6" style="margin-top: 50px; margin-bottom: 30px;" (click)="approvedvideos()">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Approved Videos</h5>
                    <!-- <span class="h2 font-weight-bold mb-0">{{ all_notapproved_videos }}</span> -->
                    <span class="h2 font-weight-bold mb-0">{{ all_notapproved_videos }}</span>

                  </div>
                  <div class="col-auto">
                    <div class="badge">
                      <i class="ph ph-file-video"  style="font-size: 24px;color:#A51C05;"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>



          <div class="col-xl-3 col-lg-6" style="margin-top: 50px; margin-bottom: 30px;"  (click)="rejectedvideos()">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Rejected Videos</h5>
                    <span class="h2 font-weight-bold mb-0">{{all_deleted_videos  }}</span>
                    <!-- <span class="h2 font-weight-bold mb-0">{{ all_deleted_videos.length > 0 ? all_deleted_videos.length : 0 }}</span> -->
                  </div>
                  <div class="col-auto">
                    <div class="badge">
                      <i class="ph ph-video-camera-slash"  style="font-size: 24px;color:#A51C05;"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> </span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>


<!-- start of table total users  -->
          
<div class="col-l-9 mt-5 mx-auto d-block" *ngIf="isUserTableVisible" style="margin-bottom: 100px;">
  <h3>List of Users</h3>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col" >ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">User Type</th>
        <!-- <th scope="col">Following chefIds</th>
        <th scope="col">Is Email Verified</th>
        <th scope="col">Is Mobile Verified</th> -->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
     
      <!-- <tr *ngFor="let user of all_userdetails"> -->
        <tr *ngFor="let user of all_userdetails | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">

        <th scope="row">{{user.id}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobileNumber}}</td>
        <td>{{user.userType}}</td>
        <!-- <td>{{user.followingChefId}}</td>
        <td>{{user.isEmailVerified}}</td>
        <td>{{user.isMobileVerified}}</td> -->
        <td>
          <div class="d-flex justify-content-around">
            <!-- <button class="btn btn-outline-primary" (click)="editUser(user.id)">Edit</button> -->
            <button class="btn btn-outline-danger" (click)="deleteUser(user.id)">Delete</button>
            <button class="btn btn-success" data-bs-toggle="modal" (click)="popup_edituser(user.id)" data-bs-target="#user_list" >Edit</button>

          </div>
        </td>
        
      </tr>
    </tbody>
  </table>
  <div class="row ">

    <div class="col-lg-8"></div>
    <div class="col-lg-4 ">
      <div class="py-5 ">

        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>
  </div>
</div>

        <!-- end of tanble  -->




        <!-- <div class="search-hero" *ngIf="isChefTableVisible">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching the chefs">
        </div> -->
        <!-- start of  total chefs  -->

        <!-- <div class="row">

        
        <div class="col-l-9 mt-5 mx-auto d-block" *ngIf="isChefTableVisible">
          <h3>List of Chefs</h3> 
          <table class="table table-bordered" >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">User Type</th>
          
       
         <th scope="col">Actions</th>
         </tr>
          </thead>
          <tbody>
           
            <tr *ngFor="let chefs of all_chefdetails ">
              <th scope="row">{{chefs.id}}</th>
              <td>{{chefs.userName}}</td>
              <td>{{chefs.email}}</td>
              <td>{{chefs.mobileNumber}}</td>
              <td>{{chefs.userType}}</td>
           
          

              <td >
                <div class="d-flex justify-content-between">          
                  <button class="btn btn-outline-danger" (click)="deleteChef(chefs.id)">Delete</button>                
                </div>
              </td>
            </tr>
                    
          </tbody>
        </table>
      </div>
    </div> -->

    <div class="col-l-9 mt-5 mx-auto d-block " *ngIf="isChefTableVisible" style="margin-bottom: 100px;">
      <h3>List of Chefs</h3>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">



          
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">User Type</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor="let chefs of all_chefdetails | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <th scope="row">{{chefs.id}}</th>
              <td>{{chefs.userName}}</td>
              <td>{{chefs.email}}</td>
              <td>{{chefs.mobileNumber}}</td>
              <td>{{chefs.userType}}</td>
            
              <td>
                <div class="d-flex justify-content-around">
                  <!-- <button class="btn btn-outline-primary" (click)="editUser(user.id)">Edit</button> -->
                  <button class="btn btn-outline-danger" >Delete</button>
                  <!-- <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#chef_list">Edit</button> -->
                  <button class="btn btn-success" data-bs-toggle="modal" (click)="popup_editchef(chefs.id)" data-bs-target="#chef_list" >Edit</button>
      
                </div>
              </td>

          </tr>
        </tbody>
      </table>

      <div class="row ">

        <div class="col-lg-9"></div>
        <div class="col-lg-3 ">
          <div class="py-5 ">
    
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
    
        </div>
      </div>

    </div>



      <!-- end of tanble  -->




 <!-- start of  total admins table  -->
 <div class="col-l-9 mt-5 mx-auto d-block" *ngIf="isAdminTableVisible">
  <h3>List of Admins</h3> 
  <!-- <table class="table table-bordered" *ngIf="allAdmindetails$ | async as allAdmindetails" > -->
  <table class="table table-bordered" >

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <!-- <th scope="col">Mobile Number</th> -->
      <th scope="col">User Type</th>

      <th scope="col" *ngIf="role == 'Superadmin'">Actions</th>





    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admins of all_admindetails | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <th scope="row">{{admins.id}}</th>
      <td>{{admins.userName}}</td>
      <td>{{admins.email}}</td>
      <!-- <td>{{admins.mobileNumber}}</td> -->
      <td>{{admins.role}}</td>
  
      <td *ngIf="role == 'Superadmin'"> 
        <div class="d-flex ">
     
          <button class="btn btn-outline-danger mr-5"  (click)="deleteAdmin(admins.id)">Delete</button>
          <button class="btn btn-success ml-5" data-bs-toggle="modal" (click)="popup_editadmin(admins.id)" data-bs-target="#admin_list">Edit</button>
         

        </div>
      </td>



    </tr>
  
    
  </tbody>
</table>
<div class="row ">

  <div class="col-lg-9"></div>
  <div class="col-lg-3 ">
    <div class="py-5 ">

      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>

</div>



<!-- list of suscribed users  -->
<div class="col-l-9 mt-5 mx-auto d-block" *ngIf="isSuscribedUsersTableVisible">
  <h3>List of Subscribed Users</h3> 
  <table class="table table-bordered" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <!-- <th scope="col">Mobile Number</th> -->
      <th scope="col">User Type</th>

      <th scope="col">Actions</th>





    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suUsers of all_suscribed_users | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <th scope="row">{{suUsers.id}}</th>
      <td>{{suUsers.userName}}</td>
      <td>{{suUsers.email}}</td>
      <!-- <td>{{suUsers.mobileNumber}}</td> -->
      <td>Subscribed</td>


  
      <td > 
        <div class="">
     
          <button class="btn btn-outline-danger mr-5"  (click)="deleteAdmin(suUsers.id)">Delete</button>
          <button class="btn btn-success ml-5 " data-bs-toggle="modal" data-bs-target="#sub_list" (click)="popup_editsubscribed(suUsers.id)" >Edit</button>
         

        </div>
      </td>



    </tr>
  
    
  </tbody>
</table>
<div class="row ">

  <div class="col-lg-9"></div>
  <div class="col-lg-3 ">
    <div class="py-5 ">

      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>

</div>
<!-- end of tanble  -->




        </div>
      </div>
     
    </div>
  </div>
</div>



  </div>
</div>






<!-- popup for add admin -->



<div
class="modal fade"
id="user_list"
tabindex="-4"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-md" role="document">
  <div class="modal-content finnup__profile-modal"  style="
  border-radius: 30px;">
    <form #form2="ngForm">
      <div class="modal-header border-0">
        <div
          class="finnup__modal-title"
          style="margin: auto; text-align: center"
        >
          <h3 class="modal-title display-2" id="exampleModalLabel">
            Edit Users
          </h3>

          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 40px;">&times;</span>
          </button>
         
        </div>
   
       
      </div>
      <div>
        <div class="modal-body border-0">
          <div class="row mt-25">
            <div class="col-lg-10 mt-20" style="margin: auto">
              <label>Name <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  placeholder="Enter name"
                  required
                  [(ngModel)]="user_getdata.userName"
                  name="userName"
                 
                 
                />
              </div>
            </div>
          </div>
          <div class="row mt-20">
            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Email<span class="text-danger">*</span> </label>

              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email id "
                  required
                  [(ngModel)]="user_getdata.email"
                  autocomplete="off"
                 
                  name="email" 
                
                 
                  />
              </div>
            </div>
      

            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Mobile Number <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  required
                  [(ngModel)]="user_getdata.mobileNumber"
                  class="form-control"
                  placeholder="Mobile Number"
                  name="password" 
                 
                
                />
              </div>
            </div>

          

          </div>

          <div class="col-12 text-center pt-30">
      
            <button style="margin-left: 15px;"
            type="submit"
            class="btn hi s-bor mb-30"
            [disabled] = "form2.invalid" (click)="Edit_user(form2,user_getdata.id)" 
            data-bs-dismiss="modal"
            aria-label="Close"
            id="reloaded">
            Save/Send mail
          </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
</div>





<div
class="modal fade"
id="chef_list"
tabindex="-4"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-md" role="document">
  <div class="modal-content finnup__profile-modal"  style="
  border-radius: 30px;">
    <form #form2="ngForm">
      <div class="modal-header border-0">
        <div
          class="finnup__modal-title"
          style="margin: auto; text-align: center"
        >
          <h3 class="modal-title display-2" id="exampleModalLabel">
            Edit Chefs
          </h3>

          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 40px;">&times;</span>
          </button>
         
        </div>
   
       
      </div>
      <div>
        <div class="modal-body border-0">
          <div class="row mt-25">
            <div class="col-lg-10 mt-20" style="margin: auto">
              <label>Name <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  placeholder="Enter name"
                  required
                  [(ngModel)]="chef_getdata.userName"
                  name="userName"
                 
                 
                />
              </div>
            </div>
          </div>
          <div class="row mt-20">
            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Email<span class="text-danger">*</span> </label>

              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email id "
                  required
                  [(ngModel)]="chef_getdata.email"
                  autocomplete="off"
                 
                  name="email" 
                
                 
                  />
              </div>
            </div>
      

            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Mobile Number <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  required
                  [(ngModel)]="chef_getdata.mobileNumber"
                
                  class="form-control"
                  placeholder="Mobile Number"
                  name="password" 
                 
                
                />
              </div>
            </div>

          

          </div>

          <div class="col-12 text-center pt-30">
      
            <button style="margin-left: 15px;"
            type="submit"
            class="btn hi s-bor mb-30"
            (click)="Edit_chef(form2,chef_getdata.id)"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="reloaded">
            Save/Send mail
          </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
</div>






<!-- <div class="modal fade" id="shareholder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg-3" role="document">
      <div class="modal-content finnup__profile-modal"  style="
  border-radius: 30px;">
          <form #form4="ngForm">
              <div class="modal-header border-0">
                  <div class="finnup__modal-title">
                      <h5 class="modal-title" id="exampleModalLabel">Shareholding Details</h5>
                      <p>Give us some information about your shareholding Details</p>
                  </div>

                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">

                  </button>
              </div>
              <div>
                  <div class="modal-body border-0">

                      <div class="row mt-25">

                          <div class="col-lg-12 mt-20">
                              <label>Shareholder Type <span class="text-danger">*</span></label>
                              <select class="form-select" aria-label="Default select example"
                                  name="director_type_id" required disabled>
                                 
                              </select>
                          </div>
                          <div class="col-lg-12 mt-20">
                              <label>Shareholder Name <span class="text-danger">*</span></label>
                              <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Enter full name"  pattern="^([a-zA-Z ]){2,30}$"
                                   autocomplete="off"
                                  required
                                  >


                              </div>
                          </div>

                      </div>
                      <div class="row mt-20">
                          <div class="col-lg-12 mt-20">
                              <label>Shareholding as of <span class=text-danger>*</span>  </label>
                              <div class="docs-datepicker">
                                  <div class="input-group">
                                      <input type="date" min="1900-01-01" class="form-control docs-date"
                                          placeholder="Choose date of appointment" autocomplete="off"
                                          [(ngModel)]="share_date" name="share_date"
                                          #share_date="ngModel" autocomplete="off" required
                                           disabled>
                                      <div class="input-group-append">
                                          <button type="button"
                                              class="btn btn-outline-secondary docs-datepicker-trigger" disabled>
                                          </button>
                                      </div>
                                  </div>
                                  <div class="docs-datepicker-container"></div>
                              </div>
                          </div>
                          <div class="col-lg-12 mt-20">
                              <label>%Holding <span class="text-danger">*</span></label>
                              <div class="input-group">
                                  <input type="text" minlength="1" maxlength="5" class="form-control" placeholder="Enter ownersip" 
                                       name="share_holding" 
                                      autocomplete="off" required
                                     >

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer border-0 text-center p-0 mt-20">
                      <button type="submit" class="btn btn-primary s-bor mb-30"
                          id="reloaded" data-bs-dismiss="modal" >Save</button>
                  </div>

              </div>
          </form>
      </div>
  </div>
</div> -->






<div
class="modal fade"
id="sub_list"
tabindex="-4"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-md" role="document">
  <div class="modal-content finnup__profile-modal"  style="
  border-radius: 30px;">
    <form #form3="ngForm">
      <div class="modal-header border-0">
        <div
          class="finnup__modal-title"
          style="margin: auto; text-align: center"
        >
          <h3 class="modal-title display-2" id="exampleModalLabel">
            Edit Subscribed Users
          </h3>

          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 40px;">&times;</span>
          </button>
         
        </div>
   
       
      </div>
      <div>
        <div class="modal-body border-0">
          <div class="row mt-25">
            <div class="col-lg-10 mt-20" style="margin: auto">
              <label>International Cuisine <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  placeholder="Enter International Cuisine"
                  required
                  [(ngModel)]="subscriber_getdata.internationalCuisine"
                  name="internationalCuisine"
                 
                 
                />
              </div>
            </div>
          </div>
          <div class="row mt-20">
            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>National Cuisine<span class="text-danger">*</span> </label>

              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter National Cuisine"
                  required
                  [(ngModel)]="subscriber_getdata.nationalCuisine"
                  autocomplete="off"
                 
                  name="nationalCuisine" 
                
                 
                  />
              </div>
            </div>
      

        

          



            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Family Type <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  required
                  [(ngModel)]="subscriber_getdata.familyType"                
                  class="form-control"
                  placeholder="Enter FamilyType"
                  name="familyType" 
                 
                
                />
              </div>
            </div>



            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Plan Type <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  required
                  [(ngModel)]="subscriber_getdata.plan"                
                  class="form-control"
                  placeholder="Enter Plan Type"
                  name="plan" 
                 
                
                />
              </div>
            </div>




          </div>

          <div class="col-12 text-center pt-30">
      
            <button style="margin-left: 15px;"
            type="submit"
            class="btn hi s-bor mb-30"
            [disabled] = "form3.invalid" (click)="Edit_subs(form3,subscriber_getdata.id)"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="reloaded">
            Save/Send mail
          </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
</div>







<div
class="modal fade"
id="admin_list"
tabindex="-4"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-md" role="document" >
  <div class="modal-content finnup__profile-modal"  style="
  border-radius: 30px;" style="
  border-radius: 30px;">
    <form #form5="ngForm">
      <div class="modal-header border-0">
        <div
          class="finnup__modal-title"
          style="margin: auto; text-align: center"
        >
          <h3 class="modal-title display-2" id="exampleModalLabel">
            Edit Admin
          </h3>

          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 40px;">&times;</span>
          </button>
         
        </div>
   
       
      </div>
      <div>
        <div class="modal-body border-0">
          <div class="row mt-25">
            <div class="col-lg-10 mt-20" style="margin: auto">
              <label>Name <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  placeholder="Enter name"
                  required
                  [(ngModel)]="admin_getdata.userName"
                  name="userName"
                 
                 
                />
              </div>
            </div>
          </div>
          <div class="row mt-20">
            <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Email<span class="text-danger">*</span> </label>

              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email id "
                  required
                  [(ngModel)]="admin_getdata.email"
                  autocomplete="off"
                 
                  name="email" 
                
                 
                  />
              </div>
            </div>
      

            <!-- <div class="col-lg-10 mb-4" style="margin: auto">
              <label>Mobile Number <span class="text-danger">*</span></label>
              <div class="input-group">
                <input
                  type="text"
                  autocomplete="off"
                  required
                  [(ngModel)]="admin_getdata.mobileNumber"
                  class="form-control"
                  placeholder="Mobile Number"
                  name="password" 
                 
                
                />
              </div>
            </div> -->

          

          </div>

          <div class="col-12 text-center pt-30">
      
            <button style="margin-left: 15px;"
            type="submit"
            class="btn hi s-bor mb-30"
            [disabled] = "form5.invalid" (click)="Edit_admin(form5,admin_getdata.id)"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="reloaded">
            Save/Send mail
          </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
</div>









<div class="modal fade" id="shareholder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
<div class="modal-dialog modal-dialog-centered modal-lg-3" role="document">
    <div class="modal-content finnup__profile-modal"  style="
  border-radius: 30px;">
        <form #form4="ngForm">
            <div class="modal-header border-0">
                <div class="finnup__modal-title">
                    <h5 class="modal-title" id="exampleModalLabel">Shareholding Details</h5>
                    <p>Give us some information about your shareholding Details</p>
                </div>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <div>
                <div class="modal-body border-0">

                    <div class="row mt-25">

                        <div class="col-lg-12 mt-20">
                            <label>Shareholder Type <span class="text-danger">*</span></label>
                            <select class="form-select" aria-label="Default select example"
                                name="director_type_id" required disabled>
                                <option >
                                   </option>
                            </select>
                        </div>
                        <div class="col-lg-12 mt-20">
                            <label>Shareholder Name <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter full name"  pattern="^([a-zA-Z ]){2,30}$"
                              
                                required
                                >


                            </div>
                        </div>

                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-12 mt-20">
                            <label>Shareholding as of <span class=text-danger>*</span>  </label>
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="date" min="1900-01-01" max=""
                                        placeholder="Choose date of appointment" autocomplete="off"
                                     
                                       autocomplete="off" required
                                       disabled>
                                    <div class="input-group-append">
                                        <button type="button"
                                            class="btn btn-outline-secondary docs-datepicker-trigger" disabled>
                                        </button>
                                    </div>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-20">
                            <label>%Holding <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="text" minlength="1" maxlength="5" class="form-control" placeholder="Enter ownersip" 
                                    
                                   >

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 text-center p-0 mt-20">
                    <button type="submit" class="btn btn-primary s-bor mb-30"
                         id="reloaded" data-bs-dismiss="modal" >Save</button>
                </div>

            </div>
        </form>
    </div>
</div>
</div>






<div
  class="modal fade"
  id="mahisiva"
  tabindex="-4"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content finnup__profile-modal"  style="
  border-radius: 30px;">
      <form #form2="ngForm">
        <div class="modal-header border-0">
          <div
            class="finnup__modal-title"
            style="margin: auto; text-align: center"
          >
            <h3 class="modal-title display-2" id="exampleModalLabel">
              Add Team Members
            </h3>

            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="font-size: 40px;">&times;</span>
            </button>
           
          </div>
     
         
        </div>
        <div>
          <div class="modal-body border-0">
            <div class="row mt-25">
              <div class="col-lg-10 mt-20" style="margin: auto">
                <label>Name <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input
                    type="text"
                    autocomplete="off"
                    class="form-control"
                    placeholder="Enter name"
                    required
                    [(ngModel)]="model.userName"
                    name="userName"
                   
                   
                  />
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-lg-10 mb-4" style="margin: auto">
                <label>Email<span class="text-danger">*</span> </label>

                <div class="input-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter email id "
                    required
                    [(ngModel)]="model.email"
                    autocomplete="off"
                   
                    name="email" 
                  
                   
                    />
                </div>
              </div>
        

              <div class="col-lg-10 mb-4" style="margin: auto">
                <label>Password <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input
                    type="text"
                    autocomplete="off"
                    required
                    [(ngModel)]="model.password"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                    class="form-control"
                    placeholder="Enter Password"
                    name="password" 
                   
                  
                  />
                </div>
              </div>

            

            </div>

            <div class="col-12 text-center pt-30">
        
              <button style="margin-left: 15px;"
              type="submit"
              class="btn hi s-bor mb-30"
              [disabled] = "form2.invalid" (click)="AddAdmin(form2)"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="reloaded">
              Save/Send mail
            </button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end of modal  -->


<!--  -->

            </div>
          </section>
        </div>
        </main>
        </div>